# ==============================================================================
# КОРИСТУВАЦЬКІ НАЛАШТУВАННЯ ТА БЕЗПЕКА
# ==============================================================================
USER_EMAIL="YOUR_EMAIL"
GRAFANA_ADMIN_PASSWORD="YOUR_GRAFANA_ADMIN_PASSWORD"
WEBHOOK_TOKEN="MySuperSecretToken2026_Alerting"

# ==============================================================================
# НАЛАШТУВАННЯ ДОМЕНІВ (ДОСТУП З КОМП'ЮТЕРІВ У ЛОКАЛЬНІЙ МЕРЕЖІ)
# ==============================================================================
GRAFANA_HOST="GRAFANA_HOST"
ARGOCD_HOST="ARGOCD_HOST_URL"

# Якщо обbhf'nt встановити portainer server

PORTAINER_HOST="PORTAINER_HOST_URL"

# ==============================================================================
# ІНТЕГРАЦІЯ З SIGNAL MESSENGER
# ==============================================================================
SIGNAL_API_URL="http://signal-cli-rest-api.monitoring.svc.cluster.local:8080"
SIGNAL_NUMBER="+380636382730"
SIGNAL_RECIPIENTS="SIGNAL_RECIPIENTS_NIMBERS"
SIGNAL_GROUP_ID="SIGNAL_GROUP_ID"

# ==============================================================================
# DNS ПРОВАЙДЕР ДЛЯ SSL (CLOUDFLARE DNS-01 CHALLENGE)
# ==============================================================================
CF_API_TOKEN="CLOUDFLARE_CF_API_TOKEN"